<h1>Users</h1>
<div class="text-center">

<%= will_paginate @users %>

<% @users.each do |user| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= user.username %></h5>
      <p class="card-text"><%= user.email %></p>
      <%= link_to 'Show', user_path(user) %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
    </div>
  </div>
<% end %>

<%= will_paginate @users %>

</div>